.color1{
    background-color: #e7d423; /* color de fondo */
}
.color2{
    background-color: rgb(101, 226, 43);  /*color de fondo*/ 
}
.color3{ 
    border-color: blueviolet;
}
.color4{ 
    border-color: coral;
}
.color5{ 
    background: lightpink;
} 
.color6{ 
    background-color:rgb(0, 255, 157)
}
.color7{  
    background: #75f6fa;
}
h1{  
background: #CE5937;
background: -moz-linear-gradient(-45deg, #CE5937 0%, #A44D95 50%, #C59237 100%);
background: -webkit-linear-gradient(-45deg, #CE5937 0%, #A44D95 50%, #C59237 100%);
background: linear-gradient(135deg, #CE5937 0%, #A44D95 50%, #C59237 100%);
}
h2{ 
    background-color: #D6A2E8;
}

h6{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:salmon
} 

.shadow2{  
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
 }
 .shadow3{  
    box-shadow: 5px 5px 15px 5px #000000;
   color: #FFFFFF;
   text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}