.color1{
    background-color: #e7d423; /* color de fondo */
    text-decoration-color: #5723e7;
}
.color2{
    background-color: rgb(101, 226, 43);  /*color de fondo*/ 
}
.color3{ 
    border-color: blueviolet;
}
.color4{ 
    border-color: coral;
}
.color5{ 
    background: lightpink;
} 
h1{  
    background: rgb(210, 255, 127);
}
h6{
   background:salmon
}  
